<h2 style="margin-top: 50px">Werkstroom Modeller</h2>
<br>
Easy Workflow model Designer
<br>
npm version of the Werkstroom Modeller Design Canvas available <br>@ https://www.npmjs.com/package/werkstroom-modeller-library
<br>
install node package using npm i werkstroom-modeller-library
<br>
<br>
Designer : A.V.A.R. Madushan
<br>
Help me improve:<br>

<fa name="envelope-o"></fa>rivindum.15@cse.mrt.ac.lk<br>
<fa name="linkedin-square"></fa>https://www.linkedin.com/in/rivindu-madushan/<br>
<fa name="github"></fa>https://github.com/RivinduM/werkstroom-modeller
<br><br>
-------------------------------------------------------------------------------
