<h2>Werkstroom Modeller</h2>
Easy Workflow model Designer

<br>
npm version of the Werkstroom Modeller Design Canvas available @ https://www.npmjs.com/package/werkstroom-modeller-library

install node package using npm i werkstroom-modeller-library

Designer : A.V.A.R. Madushan
<br>
Help me improve

<fa name="envelope-o"></fa>rivindum.15@cse.mrt.ac.lk<br>
<fa name="linkedin-square"></fa>https://www.linkedin.com/in/rivindu-madushan/<br>
<fa name="github"></fa>https://github.com/RivinduM/werkstroom-modeller

