<h1>
  Welcome to Werkstroom Modeller!
</h1>
<h5>Easy workflow model designer </h5>
<br>

<div class="card cardBack" id='palette'>

  <div class="row  col-md-12 col-sm-12">

    <div class="toolBox-container">

      <div class="icon-bar">
        <div>Toolbox</div>

        <a class="primary mouseOver">
          <div class="box" draggable="true" (dragstart)="drag($event)" id="boxModal">
            <div class="boxheader" id="toolboxBoxHeader">Header</div>
            <div class="boxbody" id="toolboxBoxBody">Body</div>
          </div>
        </a>

        <a class="primary mouseOver">
          <div class="box circle" draggable="true" (dragstart)="drag($event)" id="circleModal">
            <div class="boxheader" id="toolboxCircleHeader">Header</div>
            <div class="boxbody" id="toolboxCircleBody">Body</div>
          </div>
        </a>
      </div>

    </div>
    <div id="workspace" class="workspace" (mousemove)="updateList()">
      <div class="bin" (drop)="drop($event)" (dragover)="allowDrop($event)" id="canvas">
      </div>
    </div>

  </div>

</div>


<!--<h4 style="margin-top: 250px; background-color: #3c3c3c" id="components">Component List</h4>
<table id="componentsTable">
  <tr>
  <th>Type</th>
  <th>Title</th>
  <th>Body</th>
  <th>Id</th>
  <th>Height</th>
  <th>Width</th>
  <th>X</th>
  <th>Y</th>
  <th>Z</th>
  <th>Connections</th>
  <th>Remove</th>

  </tr>
  <tr *ngFor="let item of compList">
    <td>{{item.type}}</td>
    <td>{{item.title}}</td>
    <td>{{item.body}}</td>
    <td>{{item.id}}</td>
    <td>{{item.height}}</td>
    <td>{{item.width}}</td>
    <td>{{item.x}}</td>
    <td>{{item.y}}</td>
    <td>{{item.z}}</td>
    <td>
    <span *ngFor="let neighbor of item.neighbors">
      {{neighbor}}<br></span>
    </td>

    <td (click)="delete(item.id)" class="remove">Remove</td>
    &lt;!&ndash;{{item.type}} title: {{item.title}} body: {{item.body}} id: {{item.id}} h {{item.height}} w
    {{item.width}} z {{item.z}}
    <span (click)="delete(item.id)" class="remove">Remove</span> x {{item.x}} y {{item.y}}
    connected to : {{item.neighbors}}&ndash;&gt;
  </tr>

</table>-->

<!--<h6>Connectors</h6>
<ul>
  <li *ngFor="let connector of connectors">
    <span > {{connector.id}}</span> {{connector.node1}} {{connector.node2}}
    <span (click)="delete(connector.id)" class="remove">Remove</span><span>WidthSet</span>
  </li>
</ul>-->


<!--<p id="demo" (click)="updateList()">HERE</p>-->

