.components {
  background-color: #3c3c3c;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
}

.remove {
  cursor: pointer;
}

.remove:hover {
  text-decoration: underline;
}

/*table styles*/
.componentsTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.componentsTable td, .componentsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.componentsTable tr:nth-child(even) {
  background-color: #2b374f;
}

.componentsTable tr:nth-child(odd) {
  background-color: #556daf;
}

.componentsTable tr:hover {
  background-color: #ddd;
  color: #3c3c3c;
}

.componentsTable th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #a8adb5;
  color: black;
}

.componentPage {
  background-color: #85b909;
}
