.box {
  background: #cbc801;
  margin: 40px;
  box-shadow: 5px 5px 10px #535353;
  border: 1px #8ec0a1;
  border-radius: 4px;
  position: absolute;
  width: 250px;
  height: 200px;
  overflow: hidden;
  /* limit size with min/max-width/height*/
  min-height: 180px;
  min-width: 200px;
  max-width: 500px;
  max-height: 400px;
  resize: both;
  z-index: 1000;
}

.boxheader {
  background: #1d1d1d;
  color: #85b909;
  padding: 5px;
  font-weight: bold;
  min-height: 32px;
}

.boxbody {
  color: #010840;
  font-size: medium;
  padding: 20px;
}


.mouseOver {
  cursor: move;
}

.move {
  float: left;
}

.line-link {
  cursor: grab;
}

span.settings {
  float: right;
  cursor: pointer;
}

span.resize {
  cursor: pointer;
}

.settings .tooltipText {
  right: 0;
  top: 35px;

  visibility: hidden;
  width: 120px;
  background-color: #e3ffdf;
  color: #3c3c3c;
  text-align: center;
  border-radius: 0;
  padding: 5px 0;
  font-size: xx-small;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.settings:hover .tooltipText {
  visibility: visible;
}

.controls {
  display: none;
  float: left;
}

.move .tooltipText {
  left: 0;
  top: 35px;

  visibility: hidden;
  width: 120px;
  background-color: #e3ffdf;
  color: #3c3c3c;
  text-align: center;
  border-radius: 0;
  padding: 5px 0;
  font-size: xx-small;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.move:hover .tooltipText {
  visibility: visible;
}

