body {margin:0}

.icon-bar {
  width: 60px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50 !important;
}
.cardBack{
  background-color: #c6f0ff;
}

.mouseOver{
  cursor: move;
}
.cardBorder{
  border-color: rgba(115, 170, 193, 0.72);
}

.bin {
@extend %content;
  min-height: 150px;
  min-width: 150px;
  float: left;
  border: 1px solid red;
  padding: 20px;
}



#div1,
#div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

