<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card cardBorder"style="margin-left:10px;padding-top:10px;padding-bottom:10px;margin-right: 10px">
  <div class="row">
    <div class="col-md-1">
      <div class="icon-bar"  style="margin-left:25px">
        <a class="active" href="#" mwlDraggable (dragEnd)="dragEnd($event)"><i class="fa fa-home"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-plus-square"></i></a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <a href="#"><i class="fa fa-trash"></i></a>
      </div>
    </div>
    <div class="card cardBack col-md-10" style="margin-left:50px;margin-right: 10px" mwlDroppable (drop)="this.droppedData = $event.dropData" drop="handleDrop">
      <span [hidden]="droppedData">Drop here</span>
      <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span>
      <h1>Hello</h1>
    </div>
  </div>

</div>



<div mwlDraggable (dragEnd)="dragEnd($event)">Drag me!</div>
<div
  mwlDroppable
  (drop)="this.droppedData = $event.dropData">
  <span [hidden]="droppedData">Drop here</span>
  <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span>
</div>
