<table class="table table-bordered">
  <thead>
  <tr>
    <th>Date</th>
    <th>Workflow name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of workflows">
    <td>{{item.savedDate.substring(0,10)}}</td>
    <td>{{item.name}}</td>
    <td>
      <button class="btn btn-primary button" (click)="open(item)">Open</button>
      <button class="btn btn-danger button" (click)="delete(item)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<label *ngIf="!display">No saved workflows</label>
